<header class="page-header" role="banner">
  <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
  <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
  <div class="top-social-images"
  {% for item in site.social-links %}
  <a href="{{ item.link }}" target="blank"> <img src="assets/images/footer/{{item.id}}.png" width="21px" class="top-social-image"> </a>
  {% endfor %}
  </div>
  <div class="menu">
  {% for link in site.navigation %}
    {% assign current = nil %}
    {% if page.url == link.url %}
      {% assign current = 'btn bold' %}
    {% else %}
      {% assign current = 'btn' %}
    {% endif %}
    <a href="{{ link.url }}" class="{{ current }}" {% if link.external %} target="_blank" {% endif %}>{{ link.text }}</a>
  {% endfor %}
  </div>
</header>